@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');

/* Element Styling */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
}

p, a, span, blockquote, label, li {
	font-family: 'Roboto', sans-serif;
}

/* Class Styling */
.main {
	width: 984px;
	margin: auto;
	padding: 20px;
}







